@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Below you'll find a link to both a web page containing the information of our users, and another link in which you can download all of our users information to your computer. Wow, scary!
        </p>
        <p><a class="btn btn-default" href="~/Home/ListOfUsers/">View the web page!</a></p>
        <p><a class="btn btn-default" href="~/Home/DownloadUsers/">Download the file!</a></p>
    </div>
</div>